/*
    theme      :  Fresh
    type       :   Theme-Options for plugin and theme
    since      :  27/06/2014
    last update: 28/10/2014
*/
body{
  background: inherit;
}
a{}
a:hover{text-decoration: none!important;}
.ilenplugin-options *,.ilentheme-options *{
  margin-top: 0;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.ilenplugin-options .has-right-sidebar #post-body-content{
  width: 750px;
  /*box-shadow: 0px 0px 3px rgb(187, 187, 187)!important;*/
  margin-left: 5px;
  background: transparent;
  margin-top: 0;
}

.ilenplugin-options .has-right-sidebar #post-body-content .post-body-content__wrap{
  box-shadow: 0px 0px 3px rgb(187, 187, 187)!important;
}


.ilenplugin-options .has-right-sidebar #post-body-content .my-wrap-plugin{
  box-shadow: 0px 0px 3px rgb(187, 187, 187);
}
.ilenplugin-options .notification-p{
  margin: 0;
  margin-bottom: 5px;
}
.ilenplugin-options .row .a {
  width: 48%!important;
  float: left;
  text-align: right;
}
.ilenplugin-options .row .b {
  width: 50%!important;
  float: right;
}
.ilenplugin-options .postbox{
  background: #FAFAFA;
  padding: 0;
  margin-bottom: 0;
  margin: 20px 30px;
  border-radius: 3px;
  border: 1px solid #F1F1F1;
}
.ilenplugin-options .postbox:last-child{
  margin-bottom: 0;
}
.ilenplugin-options .ilentabs .postbox{
  margin: 0px 5px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.ilenplugin-options .row.upload .button{
  height: 35px;
  line-height: 40px;
}
.ilenplugin-options .row.upload .button i{
  font-size: 21px;
}
.ilenplugin-options .row.upload .preview{
  width: 90%;
}


.ilenplugin-options input[type=text],.ilenplugin-options textarea,.ilenplugin-options select{
  width: 90%;
}

.ilenplugin-options input[type=text], .cwp_top_wrapper .cwp_top_container form .option select {
  height: 35px;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

.ilenplugin-options input[type=email], 
.ilenplugin-options input[type=number], 
.ilenplugin-options input[type=password], 
.ilenplugin-options input[type=search], 
.ilenplugin-options input[type=tel], 
.ilenplugin-options input[type=text], 
.ilenplugin-options input[type=url], 
.ilenplugin-options select, 
.ilenplugin-options textarea {
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #333;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}

.ilenplugin-options input:focus,
.ilenplugin-options textarea:focus,
.ilenplugin-options input[type="text"]:focus, 
.ilenplugin-options input[type="url"]:focus, 
.ilenplugin-options input[type="email"]:focus, 
.ilenplugin-options input[type="tel"]:focus, 
.ilenplugin-options input[type="number"]:focus, 
.ilenplugin-options input[type="password"]:focus,
.ilenplugin-options textarea:focus {
  background: #fff;
  border-color: #c0c0c0;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  color: #232527;
}


.ilenplugin-options{
  font-family: "Roboto", HelveticaNeue, sans-serif;
  color: #525252;
}
.ilenplugin-options b,
.ilenplugin-options strong{
  font-weight: 300;
}
.ilenplugin-options .postbox .inside{
  font-size: 14px!important;
}
.ilenplugin-options .postbox .help {
  color: #666;
  font-size: 12px;
  font-style: italic;
  line-height: 14px;
}
.ilenplugin-options .postbox h3 span{
  font-weight: normal;
  color: #C0C0C0;
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  /* font-size: 16px; */
}
.ilenplugin-options .row.radio_image img{
  border-radius: 0;
  height: 65px!important;
  width: 100px!important;
  margin-right: 10px;
  padding: 4px;
  background: #fff;
  opacity: 1;
  border: 2px solid #F1F1F1;
}
.ilenplugin-options .row.radio_image img:hover{
  opacity: .8;
}
.ilenplugin-options .row.radio_image img.active{
  border-color: #555656!important;
  box-shadow: 0px 0px 5px rgb(36, 27, 27);
}
.ilenplugin-options .wp-picker-input-wrap input[type="text"]{
    width: 65%;
}
.ilenplugin-options #message{
  margin: 0;
  padding: 10px;
  font-size: 18px;
  /* font-weight: bold; */
}
.ilenplugin-options header{
  background: #fff;
  /*border-top: 3px solid #52aae2;*/
  border-top: 9px solid #B6B6B6;
  border-bottom:1px solid #F8F8F8;
  /*margin-top: 10px!important;*/
  padding: 0px 10px!important;
  border-radius: 2px;
}
.ilenplugin-options #poststuff h2{
  font-size: .9em;
  display: inline-block;
  position: relative;
  color: #616161;
}
.ilenplugin-options header .header__logo i{
  padding: 13px 20px;
  border-radius: 50%;
  background: #EBEBEB;
  margin: 5px;
  color: #fff;
  /*opacity: .5;*/
}

.ilenplugin-options header .header__logo i.text-long{
  position: relative;
  top: 0;
  vertical-align: top;
  float: left;
}
.ilenplugin-options #poststuff h2.text-long{
  width: 33%;
  display: inline-block;
  margin: 0;
}

.ilenplugin-options header a{
  margin-top: 17px;   
}
.ilenplugin-options .metabox-holder,
.ilenplugin-options #poststuff{
  padding-top: 0;
}
.ilenplugin-options #poststuff .inside{
    margin: 0;
    background: #fff;
}
.ilenplugin-options .ibtn{
    background: #52c4ef;
    text-decoration: none;
    border-radius: 3px;
    display: block;
    height: 30px;
    border-radius: 3px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 1px 0px #33a4ce;
    line-height: 2.4;
    padding: 3px 12px;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    padding-top: 0;
    padding-left: 0;
    cursor: pointer;

    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important;
}
a.wp-color-result{
    -webkit-box-sizing: initial!important;
    -moz-box-sizing: initial!important;
    box-sizing: initial!important;
}
.ilenplugin-options .ibtn span{
    width: 30px;
    height: 33px;
    display: block;
    float: left;
    border-radius: 3px 0px 0px 3px;
    margin-right: 10px;
    background: #32BDEF;
}
.ilenplugin-options .btnturke {background: #52c4ef;text-shadow: 0px 1px 0px #33a4ce;}
.ilenplugin-options .btnturke span {background: #32BDEF;text-shadow: 0px 1px 0px #33a4ce;}
.ilenplugin-options .btnred {background: #F9866B;text-shadow: 0px 1px 0px #FD6D4B;}
.ilenplugin-options .btnred span {background: #F97051;text-shadow: 0px 1px 0px #F9866B;}
.ilenplugin-options .btnblack {background: #707070;text-shadow: 0px 1px 0px #595959;}
.ilenplugin-options .btnblack span {background: #464646;text-shadow: 0px 1px 0px #595959;}


.ilenplugin-options header a,
.ilenplugin-options footer a{
    opacity: .8;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;   
}
.ilenplugin-options a span i,
.ilenplugin-options a span i{
    margin-left: 9px;
    margin-top: 10px;    
}


.ilenplugin-options header a:hover,
.ilenplugin-options footer a:hover,
.ilenplugin-options header a:hover span,
.ilenplugin-options footer a:hover span{
    opacity: 1
}
 

.ilenplugin-options .ilen-version{
  font-size: 12px;
  color: gray;
  /*position: absolute;*/
  right: 0;
  top: 23px;
}
.ilenplugin-options .ilen-version.text-long{
  top: 50px;
  left: 0;
}

.ilenplugin-options .row {
  /*overflow: hidden;*/
  clear: both;
  padding: 15px 0;
  border-bottom: 1px dashed #e7eaec;
  margin-bottom: 0!important;
}

.ilenplugin-options footer{
  background: #fff;
  padding: 42px 21px 15px;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #E4E4E4;
  clear: both;
  display: block;
}
.ilenplugin-options footer a:hover span i{
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}


.ilenplugin-options .hndle,
.ilenplugin-options .js .widget .widget-top{
  cursor:default!important;
}
input[type="range"] {
  background-color: #EEEEEE;
  border: 1px solid #C7C7C7;
  margin-top: 10px;
}
input[type="range"]::-webkit-slider-thumb {
  background-color: #BCDDF1;
}

.ilenplugin-options .row:last-child{
  border-bottom: 0;
}
.ilenplugin-options .btn:hover{
  background:#76AAC9;    
}
.ilenplugin-options .btn:hover {
  background-color: #1baae3;
}
.ilenplugin-options .btn:active {
  /*box-shadow: 0px 1px 0px 0px #3293ba;*/
}
.ilenplugin-options .btn{
  background: #8FC3E2;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -khtml-border-radius: none;
  font-weight: bold;
  border: 0;
  padding: 8px 26px;
  cursor: pointer;

  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}
.ilenplugin-options input[type="range"]{
  width: 80%;
}
.ilenplugin-options #rangevalue{
  padding: 3px 5px 7px 5px;
  height: 28px;
}
.ilenplugin-options .nav-tab-active{
  background: #fff!important;
  border-bottom: 0;
}
.ilenplugin-options .nav-tab:hover {
  /*background: #f1f1f1;*/
  color: #000;
}
.ilenplugin-options #nav h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0;
  width: 100%;
  padding-left: 20px;
}
.ilenplugin-options .ilentabs_wrap{
  background: #fff;
}
.ilenplugin-options .ilentabs {
  width: 100%!important;
}
.ilenplugin-options .meta-box-sortabless{
  padding: 0 1em;
}
.ilenplugin-options .ilentabs_wrap .postbox h3{
  font-size: 11px!important;
}
.ilenplugin-options .progress {
  display: block;
}
.ilenplugin-options .progress-wrap{
  border-radius: 2px;
}


/* <select> - used in tandem with jQuery to wrap all <selects>'s */
.ilenplugin-options .select-wrapper {
  width: 90%;
  position: relative;
  z-index: 0;
  display: inline-block; 
  overflow: hidden; /* this hides the select's drop button */
  height: auto;
  padding: 0 15px 0 0; 
  margin: 0 5px 0 0; 
  /* this is the new drop button, in image form */
  border-radius: 5px;
  border: solid 1px #CCC; 
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#efefef)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #FFF, #efefef); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #FFF, #efefef); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #FFF, #efefef); /* IE10 */
  background-image:      -o-linear-gradient(top, #FFF, #efefef); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #FFF, #efefef);
  
  /* PIE.htc - if using, remove 2 'filter' gradients above for proper display in IE7/8 */
  -pie-background: linear-gradient(#FFF, #efefef); /*PIE*/
  behavior: url(PIE.htc);
}

.ilenplugin-options .select-wrapper:before {
  position: absolute;
  z-index: 1;
  content: url(../images/select_arrows.png);
  top: 50%;
  right: 10px;
  margin-top: -9px;
}

.ilenplugin-options  .select-wrapper select { 
  position: relative;
  z-index: 2;
  outline: none;
  width: 120%; /* this percentage effectively extends the drop down button out of view */
  padding: 5px 20px 5px 10px;
  background-color: transparent; /* this hides the selects background making any styling visible from the div */
  background-image: none; 
  -webkit-appearance: none; /* this is required for Webkit browsers */ 
  border:none; 
  box-shadow: none;
}

.ilenplugin-options .select-wrapper select{
  padding: 2px!important;
  width: 100%!important;
}
.ilenplugin-options #tabs{
  background: #fff;
}
.ilenplugin-options #tabs a:focus{
  box-shadow: initial;
  -webkit-box-shadow: initial;
}

.ilenplugin-options .ilentabs_wrap #nav h2{
  background: #F3F3F3;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 13px;
  border-bottom: 0;
}

.ilenplugin-options .ilentabs_wrap .meta-box-sortabless {
  padding: 1.3em 1em;
}

.ilenplugin-options h2 .nav-tab{
  display: inline;
  float: left;
  margin: 0 5px;
  border:0;
  border-right: 1px solid #d7d7d7;
  background: #E7E7E7;
  border-radius:0;
  color: #474747;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
}
















#wpwrap,#wpcontent{
    /*background: #fff;*/
}
.ilentheme-options h2,
.ilentheme-options h2:before,
.ilentheme-options h2:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.ilentheme-options{
  border: 0;
  box-shadow: 0px 0px 3px rgb(187, 187, 187);
  background: #FDFDFD;
}
.ilentheme-options .top-right,
.ilentheme-options .top-left{
  background:#FFF;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a{
  color:#414141!important;
  font-size: 15px;
  line-height: 15px;
  border-top: 1px solid #ECECEC;
  text-shadow: 0px 0px 1px rgb(152, 152, 152);
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a:after{
  right: 0;
  border: solid 8px transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #FFFFFF;
  top: 50%;
  margin-top: -8px;
}
.ilentheme-options li.ui-state-active{
  border-bottom: 1px solid #ECECEC;  
}

.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a i{
  opacity: .9;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover{
  color: #444545!important;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
  /*background: #ECECEC;*/
  background: #FFF;
}

.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li,
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
  /*border:0;*/
  border-radius: 0;
  /*border-width: 0;*/
  box-shadow:none;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li a i{
  top: 0;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav{
  margin: 0;
  margin-top: 20px;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav a{
  font-weight: normal;
  /*color: #8A8A8A!important;*/
  color: #BDC3C7!important;
  font-size: 14px;
  /*font-weight: bold;*/
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li{
  margin: 0;
  width: 181px;
}

.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-panel{
  /*border-bottom: 1px solid rgb(236, 236, 236);*/
  border-left: 1px solid rgb(236, 236, 236);
}
.ilentheme-options .content-tab{
  width:690px;
}
.ilentheme-options .content-tab{
  padding: 0px;
  /*background: #F9F9F9;*/
  /*background: #f5f5f5;*/
  /*background: #FAFAFA;*/
  background: #fff;
}
.ilentheme-options .top-left{
  width: 130px;
  color: #fff
}
.ilentheme-options .logo h1{
  padding: 25px 0px 0 17px!important;
}
.ilentheme-options .logo h1 a{
  font-family: "open sans";
  font-weight: bold;
  color: #738089;
}
.ilentheme-options .logo span a{
  color: #fff;
}

.ilentheme-options header {
  clear: both;
  overflow: hidden;
  height: 70px;
  border-bottom: 1px solid #ECECEC;
  background: #fff;
}
.ilentheme-options .top-left{
  height: 68px;
  width: auto;
  padding: 0 20px 0 0;
}
.ilentheme-options .top-left.logo span{
  font-size: 16px;
  color: #AEAEAE;
  display: inline;
  margin: 0;
  font-weight: normal;
}
.ilentheme-options .top-left h1{
  font-size: 2.5em;
}
.ilentheme-options .top-right{
  width: auto;
}
.ilentheme-options h2{
  color: #BDC3C7;
  /*border-bottom: 1px solid #EBEBEB;*/
  padding-bottom: 0;
  margin: 20px ;
}
.ilentheme-options h3{
  color: #5F5F5F;
  font-family: arial;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
}
.ilentheme-options .divide i{
  display: none;
}
.ilentheme-options .divide{
  text-transform: capitalize;
  background-color: #4F525A;
  padding: 0px 0 0px 15px;
  font-size: 13px;
  height: auto;
  color:#BDBDBD;
  font-family: 'open sans';
  -webkit-border-radius: 0;
  position: relative;
  left: -10px;
  width: 120%;
  line-height: 19px;

}


/* buttons */ 
.ilentheme-options .btn, .ilentheme-options input[type="button"], .ilentheme-options input[type="submit"] {
  background: #8FC3E2;
  border-radius: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -khtml-border-radius: none;
  font-weight: bold;
  border: 0;
  padding: 8px 26px;
  cursor: pointer;

  transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
}
.ilentheme-options .btn:hover,.ilentheme-options input[type="button"]:hover,.ilentheme-options input[type="submit"]:hover{
  background:#76AAC9!important;    
}




.ilentheme-options input[type=text],.ilentheme-options textarea,.ilentheme-options select{
  width: 90%;
}

.ilentheme-options input[type=text], .cwp_top_wrapper .cwp_top_container form .option select {
  height: 35px;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  box-shadow: none;
  font-family: "Roboto", sans-serif;
}

.ilentheme-options input[type=email], 
.ilentheme-options input[type=number], 
.ilentheme-options input[type=password], 
.ilentheme-options input[type=search], 
.ilentheme-options input[type=tel], 
.ilentheme-options input[type=text], 
.ilentheme-options input[type=url], 
.ilentheme-options select, 
.ilentheme-options textarea {
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
  background-color: #fff;
  color: #333;
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
}
.ilentheme-options .select-wrapper select{
  padding: 0!important;
}




.super {
    margin-top: 4px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;

    background-color: #3fb8e8;
    box-shadow: 0px 3px 0px 0px #3293ba;
}
.super:active, .super:active, .super:active {
    padding-top: 15px;
    margin-bottom: -1px;
}
.super, .super:hover, .super:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
}
.super:active{
    -webkit-box-shadow:none;
    box-shadow: none;
    outline: 0;
    position: relative;
    top: 0px;
    box-shadow: 0px 3px 0px 0px #3293ba;
}
.ilentheme-options .top-right{
    padding: 5px;
    margin-right: 10px;
}
.ilentheme-options footer .top-right{
    padding: 0 5px 10px 5px;   
}
.ilentheme-options .btn:hover, .ilentheme-options input[type="button"]:hover, .ilentheme-options input[type="submit"]:hover {
    background-color: #1baae3;
}
.ilentheme-options .btn:active, .ilentheme-options input[type="button"]:active, .ilentheme-options input[type="submit"]:active {
    /*box-shadow: 0px 1px 0px 0px #3293ba;*/
}





.ilentheme-options .messagebox.ok {
    background: #789DAF;
    width: 690px;
}



.ilentheme-options [type="checkbox"]:not(:checked) + label:after, .ilentheme-options [type="checkbox"]:checked + label:after{
    background: #fff;
    width: 15px;
    height: 15px;
    top: 4px;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label .ui:before{
    color: #7F8C9A;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label:before, .ilentheme-options [type="checkbox"]:checked + label:before{
  /*background: #E08D8D*/
  height: 25px;
  top: -1px;
}

.ilentheme-options [type="checkbox"]:checked + label .ui:after{
  /*color: #fff;*/
  color: #fff;
}
.ilentheme-options [type="checkbox"]:checked + label:before{
  /*background: #3FB8E8;*/
  background: #8FC3E2;
}
.ilentheme-options [type="checkbox"]:checked + label:after{
  background: #fff;
}

.ilentheme-options .row{
  border-bottom: 1px solid rgb(231, 231, 231);
}
.ilentheme-options .row .a{
  width: 40%;
  margin-bottom: 10px;
}
.ilentheme-options .row .b{
  width: 58%;
  margin-top: 0px;
}

.ilentheme-options footer{
  height: 90px;
  clear: both;
  float: left;
  padding: 20px;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  border-top: 1px solid #ECECEC;
  background: #fff;
}
.ilentheme-options .btn.btn_reset{
  float: left;
  margin-right: 20px;
  margin: 0;
  margin-top: 5px;
}
.ilentheme-options .row .help {
  color: #C0C0C0;
  padding: 0 0 6px;
  font-size: .9em;
  line-height: 15px;
  letter-spacing: 0px;
  font-family: verdana;
}
.ilentheme-options .row.radio_image img{
  border-radius: 0;
  height: 65px;
  width: 93px;
  margin-right: 21px;
  padding: 4px;
  background: #fff;
  opacity: .5;
  border: 2px solid #818181;
}
.ilentheme-options .row.radio_image img:hover{
  opacity: 1;
}
.ilentheme-options .row.radio_image img.active{
    border-color: #555656;
    box-shadow: 0px 0px 5px rgb(36, 27, 27);
}
.ilentheme-options .wp-color-result{
  -moz-box-sizing:initial;
  -webkit-box-sizing: initial; 
  box-sizing: initial; 
}
.ilentheme-options .row.upload h3{
  line-height: 30px;
}
.ilentheme-options .row.upload .preview img{
  max-width: 100%;
}


.ilentheme-options input[type="text"],
.ilentheme-options select,
.ilentheme-options textarea{

  background: #FFFFFF;
  font-weight: normal;

  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.04);
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,.04);
  color: #404040;
}
.ilentheme-options input[type="text"]:focus,.ilentheme-options input[type="password"]:focus,
.ilentheme-options select:focus,.ilentheme-options textarea:focus{
  background:#FFFFFF;  
}
.ilentheme-options .row .b select{
  padding: 3px;
}
.ilentheme-options .row:last-child{
  border-bottom: 0;
}
.ilentheme-options {
  /*border-top: 5px solid #52aae2;    
  border-bottom: 5px solid #52aae2;*/
  border-top: 9px solid #B6B6B6;
  border-bottom: 1px solid #E4E4E4;
}


.ilentheme-options #poststuff h2{
    font-size: 1.1em;
    display: inline-block;
    position: relative;
    color: #616161;
}
.ilentheme-options header .header__logo i{
    padding: 13px 20px;
    border-radius: 50%;
    background: #52AAE2;
    margin: 5px;
    color: #fff;
}

.ilentheme-options header .header__logo i.text-long{
    position: relative;
    top: 0;
    vertical-align: top;
    float: left;
}
.ilentheme-options #poststuff h2.text-long{
    width: 33%;
    display: inline-block;
    margin: 0;
}

.ilentheme-options header a{
    margin-top: 14px;    
}
.ilentheme-options .metabox-holder,
.ilentheme-options #poststuff{
    padding-top: 0;
}
.ilentheme-options #poststuff .inside{
    margin: 0;
}
.ilentheme-options .postbox .hndle{
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  cursor: auto;
}
.ilentheme-options .postbox{
  /*margin: 20px 20px 40px;
  background: #FCFCFC;*/

  background: #FAFAFA;
  padding: 0;
  margin-bottom: 0;
  margin: 20px;
  border-radius: 3px;
  border: 1px solid #F1F1F1;
}
.ilentheme-options .postbox h3 span {
  font-weight: normal;
  color: #AAAAAA;
  text-shadow: 1px 1px 0px rgb(255, 255, 255);
  font-size: 12px;
}
.ilentheme-options .postbox .a h3{
  cursor: auto;
  border-bottom: 0;
  margin-top: 2px;
} 
.ilentheme-options .postbox .inside{
  margin: 0 0 0;
  padding: 0 12px 0!important;
  overflow: hidden;
  background: #fff;
}
.ilentheme-options .row{
  padding: 10px 0 0;
  padding: 16px 0 4px;
  margin: 0;
}
.ilentheme-options .ibtn{
  background: #52c4ef;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  height: 33px;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 1px 0px #33a4ce;
  line-height: 2.4;
  padding: 3px 12px;
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  padding-top: 0;
  padding-left: 0;
  cursor: pointer;
}
.ilentheme-options .ibtn span{
  width: 30px;
  height: 33px;
  display: block;
  float: left;
  border-radius: 3px 0px 0px 3px;
  margin-right: 10px;
  background: #32BDEF;
}
.ilentheme-options .btnturke {background: #52c4ef;text-shadow: 0px 1px 0px #33a4ce;}
.ilentheme-options .btnturke span {background: #32BDEF;text-shadow: 0px 1px 0px #33a4ce;}
.ilentheme-options .btnred {background: #F9866B;text-shadow: 0px 1px 0px #F9866B;}
.ilentheme-options .btnred span {background: #F97051;text-shadow: 0px 1px 0px #F9866B;}
.ilentheme-options .btnblack {background: #707070;text-shadow: 0px 1px 0px #595959;}
.ilentheme-options .btnblack span {background: #464646;text-shadow: 0px 1px 0px #595959;}


.ilentheme-options header a,
.ilentheme-options footer a{
  opacity: .8;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;   
}
.ilentheme-options a span i,
.ilentheme-options a span i{
  margin-left: 9px;
  margin-top: 10px;    
}


.ilentheme-options header a:hover,
.ilentheme-options footer a:hover,
.ilentheme-options header a:hover span,
.ilentheme-options footer a:hover span{
  opacity: 1
}
.ilentheme-options footer a:hover span i,
.ilentheme-options header a:hover span i{
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.ilentheme-options [type="checkbox"]:checked + label,
.ilentheme-options [type="checkbox"]:not(:checked) + label{
  top: 0;
}
.ilentheme-options .background_complete_transparent_check{
  display: inline;
  position: relative;
  top: -14px;
}
.ilentheme-options .background_complete_transparent_check {
  display: inline;
  position: relative;
  top: -9px;
  margin-left: 52px;
}
.ilentheme-options .wp-color-picker {
    width: 75px !important;
}
.ilentheme-options .row_checkbox_list .help{
  padding: 0px 0 6px 0!important;
}
.ilentheme-options .row_checkbox_list .help,
.ilentheme-options .row_checkbox_types_post .help{
  padding: 0px 0 6px 0!important;
}
.ilentheme-options .row_checkbox_normal .help{
  padding: 0px 0 6px 0!important;
}
.ilentheme-options .ilentheme_row_range .help{
  padding-top: 5px;
}
.ilentheme_row_checkbox .a h3{
  line-height: 22px;
}
.ilentheme-options .row.color_hover h3{
  padding-top: 10px;
  line-height: 9px;
}
.ilentheme-options #tabs{
  font-family: "Roboto", HelveticaNeue, sans-serif;
}
.ilentheme-options .ilentheme_row_color .row{
  padding-top: 12px;
}
.ilentheme-options .upload .preview img{
  background: #FAFAFA;
  border-color: #ccc #9498A2 #9498A2 #eee;
  border-style: solid;
  border-width: 1px;
  float: left;
  max-width: 100%;
  padding: 4px;
  margin-bottom: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  /* -webkit-border-radius: 2px; */
  -khtml-border-radius: 2px;
  margin-top: 10px;
  clear: both;
}
.ilentheme-options .a h3{
  font-size: 14px;
}
.ilentheme-options .ilentheme_row_textarea textarea{
  margin-top: 3px!important;
}
.ilentheme-options .upload_image_button{
  font-weight: normal!important;
}
.ilentheme-options .ilentheme_row_select .help{
  padding: 0 0 8px;
}
.ilentheme-options .ilentheme_row_select h3{
  line-height: 24px;
}
.ilentheme-options .row.upload .help{
  padding: 0 0 9px;
}
.ilentheme-options .ilentheme_row_text input[type="text"]{
  margin-top: 0!important;
}
.ilentheme-options .ilentheme_row_text .a h3{
  line-height: 30px;
}
.ilentheme-options .wp-picker-holder{
  /*display: inline!important;*/
  overflow: inherit!important;
  margin-bottom: 14!important;
}
.ilentheme-options .select2-container {
  margin-left: 0px!important;
  margin-right: 8px;
}


.ilentheme-options input:focus,
.ilentheme-options textarea:focus,
.ilentheme-options input[type="text"]:focus, 
.ilentheme-options input[type="url"]:focus, 
.ilentheme-options input[type="email"]:focus, 
.ilentheme-options input[type="tel"]:focus, 
.ilentheme-options input[type="number"]:focus, 
.ilentheme-options input[type="password"]:focus,
.ilentheme-options textarea:focus {
  background: #fff;
  border-color: #c0c0c0;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  color: #232527;
}
.ilentheme-options .select2-container .select2-choice abbr{
  top: 6px;
}
.ilentheme-options .select-wrapper {
  width: 90%;
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  height: auto;
  padding: 0 15px 0 0;
  margin: 0 5px 0 0;
  border-radius: 5px;
  border: solid 1px #CCC;
  background-color: #FFF;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#efefef));
  background-image: -webkit-linear-gradient(top, #FFF, #efefef);
  background-image: -moz-linear-gradient(top, #FFF, #efefef);
  background-image: -ms-linear-gradient(top, #FFF, #efefef);
  background-image: -o-linear-gradient(top, #FFF, #efefef);
  background-image: linear-gradient(top, #FFF, #efefef);
  -pie-background: linear-gradient(#FFF, #efefef);
  behavior: url(PIE.htc);
}
.ilentheme-options .select-wrapper:before {
  position: absolute;
  z-index: 1;
  content: url(../images/select_arrows.png);
  top: 50%;
  right: 10px;
  margin-top: -9px;
}
.ilentheme-options .select-wrapper select {
  position: relative;
  z-index: 2;
  outline: none;
  width: 120%;
  padding: 5px 20px 5px 10px;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
}

/* =CHECKBOX ===========================*/
.ilentheme-options [type="checkbox"]:not(:checked),
.ilentheme-options [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label,
.ilentheme-options [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
  line-height: 35px;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label:before,
.ilentheme-options [type="checkbox"]:checked + label:before,
.ilentheme-options [type="checkbox"]:not(:checked) + label:after,
.ilentheme-options [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label:before,
.ilentheme-options [type="checkbox"]:checked + label:before {
  left: 0;
  top: -4px;
  width: 65px;
  height: 25px;
  background: #DDDDDD;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  transition: background-color .2s;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label:after,
.ilentheme-options [type="checkbox"]:checked + label:after {
  width: 14px;
  height: 14px;
  transition: all .2s;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  background: #7F8C9A;
  top: 2px;
  left: 5px;
}

/* on checked */
.ilentheme-options [type="checkbox"]:checked + label:before {
  background:#555656; 
}
.ilentheme-options [type="checkbox"]:checked + label:after {
  background: #D7DCDE;
  top: 2px; left: 40px;
}

.ilentheme-options [type="checkbox"]:checked + label .ui,
.ilentheme-options [type="checkbox"]:not(:checked) + label .ui:before,
.ilentheme-options [type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;

  top:0;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label .ui:before {
  /*content: "✕";*/
  content: "Off";
  left: 32px;
  margin-left: 5px;
  margin-top: -1px;
}
.ilentheme-options [type="checkbox"]:checked + label .ui:after {
  /*content: "   ✓";*/
  content: "On";
  color: #D7DCDE;
  margin-top: -2px;
}
.ilentheme-options [type="checkbox"]:focus + label:before {
  border: 0px dashed #777;
  box-sizing: border-box;
  margin-top: 0px;
}








/* ANIMATION */
.spinInfinite{
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}


