/*
    theme: MORESEL
    type: Theme-Options
    since: 20/06/2014
*/
#wpwrap,#wpcontent{
    background: #fff;
}
.ilentheme-options *,
.ilentheme-options *:before,
.ilentheme-options *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.ilentheme-options{
    border: 0;
}
.ilentheme-options .top-right,
.ilentheme-options .top-left,
.ilentheme-options{
    background: #2F323A
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a{
    color: #fff;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a:after{
    right: 0;
    border: solid 8px transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #F9F9F9;
    top: 50%;
    margin-top: -8px;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
    background: #DC655F;    
}

.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li,
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active{
    border:0;
    border-radius: 0;
    border-width: 0;
    box-shadow:none;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav{
    margin: 0;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav a{
    font-weight: normal;
}
.ilentheme-options .ui-tabs.ui-tabs-vertical .ui-tabs-nav li{
    margin: 0
}
.ilentheme-options .content-tab{
    width:690px;
}
.ilentheme-options .content-tab{
    padding: 0px 5px 5px 10px;
    background: #F9F9F9;
}
.ilentheme-options .top-left{
    width: 130px;
    background: #2F323A;
    color: #fff
}
.ilentheme-options .logo h1{
    padding: 25px 0px 0 17px!important;
}
.ilentheme-options .logo h1 a{
    font-family: "open sans";
    font-weight: bold;
}
.ilentheme-options .logo span a{
    color: #fff;
}

.ilentheme-options header {
    clear: both;
    overflow: hidden;
    height: 70px;
}
.ilentheme-options .top-left{
    height: 68px;
    width: auto;
    padding: 0 20px 0 0;
}
.ilentheme-options .top-left.logo span{
    display: block;
    text-align: right;
    margin-top: 10px;
}
.ilentheme-options .top-right{
    width: auto;
}
.ilentheme-options h2{
    color: #C4C4C4;
    /*border-bottom: 1px solid #EBEBEB;*/
    padding-bottom: 10px;
    margin: 20px 0 0;
}
.ilentheme-options h3{
    color: #141414;
    font-weight: bold;
    font-family: arial;
}
.ilentheme-options .divide i{
    display: none;
}
.ilentheme-options .divide{
    text-transform: capitalize;
    background-color: #4F525A;
    padding: 0px 0 0px 15px;
    font-size: 13px;
    height: auto;
    color:#BDBDBD;
    font-family: 'open sans';
    -webkit-border-radius: 0;
    position: relative;
    left: -10px;
    width: 120%;
    line-height: 19px;

}


/* buttons */ 
.ilentheme-options .btn, .ilentheme-options input[type="button"], .ilentheme-options input[type="submit"] {
    background: #3fb8e8;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    -khtml-border-radius: none;
    font-weight: bold;
    border: 0;
    padding: 14px 26px;
}


.super {
    margin-top: 4px;
    margin-right: 10px;
    padding: 14px 26px;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.1s ease-in-out;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    -ms-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;

    background-color: #3fb8e8;
    box-shadow: 0px 3px 0px 0px #3293ba;
}
.super:active, .super:active, .super:active {
    padding-top: 15px;
    margin-bottom: -1px;
}
.super, .super:hover, .super:active {
    outline: 0 none;
    text-decoration: none;
    color: #fff;
}
.super:active{
    -webkit-box-shadow:none;
    box-shadow: none;
    outline: 0;
    position: relative;
    top: 0px;
    box-shadow: 0px 3px 0px 0px #3293ba;
}
.ilentheme-options .top-right{
    padding: 10px 5px 10px 5px;
}
.ilentheme-options footer .top-right{
    padding: 0 5px 10px 5px;   
}
.ilentheme-options .btn:hover, .ilentheme-options input[type="button"]:hover, .ilentheme-options input[type="submit"]:hover {
    background-color: #1baae3;
}
.ilentheme-options .btn:active, .ilentheme-options input[type="button"]:active, .ilentheme-options input[type="submit"]:active {
    box-shadow: 0px 1px 0px 0px #3293ba;
}





.ilentheme-options .messagebox.ok {
    background: #789DAF;
    width: 690px;
}



.ilentheme-options [type="checkbox"]:not(:checked) + label:after, .ilentheme-options [type="checkbox"]:checked + label:after{
    background: #fff;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label .ui:before{
    color: #fff;
}
.ilentheme-options [type="checkbox"]:not(:checked) + label:before, .ilentheme-options [type="checkbox"]:checked + label:before{
    background: #E08D8D
}

.ilentheme-options [type="checkbox"]:checked + label .ui:after{
    color: #fff;
}
.ilentheme-options [type="checkbox"]:checked + label:before{
    background: #3FB8E8;
}
.ilentheme-options [type="checkbox"]:checked + label:after{
    background: #fff;
}

.ilentheme-options .row{
    border-bottom: 1px solid rgb(231, 231, 231);
}
.ilentheme-options .row .a{
    width: 40%;
}
.ilentheme-options .row .b{
    width: 55%;
}

.ilentheme-options footer{
    height: 90px;
    clear: both;
    float: left;
    padding: 20px;
    width: 100%;
}
.ilentheme-options .btn.btn_reset{
    float: left;
    margin-right: 20px;
    margin: 0;
    margin-top: 5px;
}
.ilentheme-options .row .help {
    color: #9E9E9E;
    padding: 12px 0;
    font-size: .8em;
    line-height: 1;
}
.ilentheme-options .row.radio_image img{
    border-radius: 0;
    height: 90px;
    width: 115px;
    margin-right: 10px;
    padding: 0;
    background: #fff;
    opacity: 1;
    border: 2px solid #fff;
}
.ilentheme-options .row.radio_image img:hover{
    opacity: .8;
}
.ilentheme-options .row.radio_image img.active{
    border-color: #2F323A;
    box-shadow: 0px 0px 5px rgb(36, 27, 27);
}
.ilentheme-options .wp-color-result{
    -moz-box-sizing:initial;
    -webkit-box-sizing: initial; 
    box-sizing: initial; 
}
.ilentheme-options .row.upload .preview img{
    max-width: 100%;
}


.ilentheme-options input[type="text"],
.ilentheme-options select,
.ilentheme-options textarea{
    box-shadow: inset 1px 1px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,.3);
    background: #FFFFFF;
    font-weight: normal;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border: 1px solid rgb(206, 206, 206)
}
.ilentheme-options input[type="text"]:focus,.ilentheme-options input[type="password"]:focus,
.ilentheme-options select:focus,.ilentheme-options textarea:focus{
  background:#FFFFFF;  
}
.ilentheme-options .row .b select{
    padding: 3px;
}